<!DOCTYPE HTML>
<html  ng-app="shop">

  <head>
    <link rel="stylesheet" type="text/css" href="vendor/foundation.css"/>
    <link rel="stylesheet" type="text/css" href="vendor/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>

    <title>Shop</title>
  </head>

  <body ng-controller="mainCtrl">

  <header class="top-bar large-12" data-topbar role="navigation">
    <section id='name'>Shopfront</section>
    <section class="top-bar-section">
      <ul class='left'>
        <ul class="has-dropdown" id='women-block'>
          <a id='women-button' href='#'>Women</a>
          <ul class="dropdown">
            <li id='casualwear' ng-click="show('Womens Casualwear')">
              <a>Casualwear</a>
            </li>
            <li ng-click="show('Womens Formalwear')">
              <a>Formalwear</a>
            </li>
            <li ng-click="show('Womens Footwear')">
              <a>Footwear</a>
            </li>
          </ul>
        </ul>
      </ul>
      <ul class='right'>
        <li ng-click='showBasket()'>
          <a>Basket</a>
        </li>
      </ul>
    </section>
  </header>

  <main id='main'>
    <section id="products" ng-repeat="product in list">
      <article id='category'>{{product.category}}</article>
      <article>{{product.colour}}</article>
      <article>{{product.price}}</article>
      <button ng-click='addToBasket(product)'>ADD</button>
    </section>
  </main>

  <main id='basket' ng-repeat='item in basket'>
    <!-- <article id='category'>{{item.category}}</article>
    <article>{{item.colour}}</article>
    <article>{{item.price}}</article> -->
    {{ item }}
    <button ng-click='deleteFromBasket(item)'>Delete</button>
  </main>

  <article>{{totalPrice}}</article>

  <script src="vendor/modernizr.js"></script>
  <script src="vendor/jquery.js"></script>
  <script src="vendor/foundation.min.js"></script>
  <script src="vendor/foundation.topbar.js"></script>
  <script src="vendor/foundation.dropdown.js"></script>
  <script src="js/app.js"></script>
  <script src="vendor/foundation.js"></script>

  </body>
</html>