<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css"/>
  </head>
  <body>

    <title>Shop</title>

    <topHeader id='top-header'>
      <delivery id='delivery'>£10.00 off when you spend over £50.00</delivery>
      <name id='name'>ShopName</name>

      <side id='side-topbar'>
        <signin>Sign In |</signin>
        <register>Register |</register>
        <basket>Basket</basket>
        
      </side>
      
    </topHeader>

  </body>
</html>